<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">
    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="/">IHM APP</a></mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect href="/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect href="/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect href="/orders">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect href="/contact">Contact us</a>
            </li>
        </ul>
    </links>
</mdb-navbar>