<div class="d-flex justify-content-center">
    <div class="col-xl-10 col-md-10">
        <div class="card user-card-full">
            <div class="card-block text-center text-white">
                <img src="../../assets/welcome.png" class="img-radius" alt="User-Profile-Image">
            </div>
        </div>
        <h1 class="d-flex justify-content-center">IHM et applications mobiles Projet - FrontEnd Application</h1>
        <br><br>
        <h3 class="b-b-default d-flex justify-content-center">Authors</h3>
        <div class="row">
            <div class="d-flex justify-content-around">
                <p>GAGNAIRE Thomas</p>
                <p>FELICIANO Ruben</p>
            </div>
        </div>
    </div>
</div>